table {
    margin-left:auto; 
    margin-right:auto;
    width: 600px; height:1000px;
    border: 5px solid green;
    border-spacing: 0;
  }

  th, td {
    border : yellowgreen 1px solid;
    padding : 10px 5px;
  }